body{
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
        padding: 10px 30px;
}
nav a.logo {
    text-decoration: none;
    color: rgba(0, 175, 96, 0.783);
    font-weight: bold;
    font-size: 1.2rem;
}
a.img{
    
}
nav li a{
    text-decoration: none;
}
h1{
    font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }
